body {
    display: grid;
    place-items: center;
    height: 30vh;
    font-family: 'Liu Jian Mao Cao', cursive;
}

h1 {
    margin: 30vh 0 0 0;
}

input {
    text-transform: capitalize;
}

.choice-button-wrap {
     margin: 10px;
     position: relative;
    left: 10px;
}

.choice-button {
    margin: 10px 5px;
}
